.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select
    input.mdl-textfield__input.dropdown(id='#{name}' type='text', value='', tabindex='-1')label(for='#{name}')
        i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
    label(for='#{name}')
        i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
    ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='#{name}')
        li.mdl-menu__item Mouse
        li.mdl-menu__item Keyboard